@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

/* như là khai báo toàn cục */
:root {
    --red: #e74c3c;
    --green: #27ae60;
    --black: #2c2c54;
    --orange: #e17055;
    --grey: #718093;
    --yellow: #ffeaa7;
    --widthImg: 100px;
    --heightImg: 100px;
}

/* reset */
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: var(--green);
    color: #fff;
}

html {
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
}

.header-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    position: relative;
    font-size: 1.25rem;
}



.header-1 .logo img {
    width: 188px;
    height: 133px;
}

.header-1 .logo {
    display: inline-block;
}

.header-1 .Tool {
    display: inline-block;
    position: relative;
    bottom: 5rem;
}


/* .header-2 
{
    padding: 1rem;
    text-align: center;
    justify-content: space-between;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.header-2 #logo{
    top: -0.1875rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
} */

/* .header-2 .search-box-container
{
    
    display: flex;
    position: relative;
    padding-right:  30%;
    padding-left: 10%;
}

.header-2 .search-box-container #search-box{
    height: 100%;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    color: #333;
    text-transform: none;
    width: 700px;
}

.header-2 .search-box-container label{
    height: 100%;
    width: 8rem;
    font-size: 2.5rem;
    line-height: 5rem;
    color: #fff;
    background: var(--orange);
    text-align: center;
    cursor: pointer;
}

.header-2 .search-box-container label:hover{
    background: var(--black);
} */

.P1 {
    background: var(--yellow);
    border: solid;
}

.P2 {
    background: whitesmoke;
    padding-right: 10rem;
    padding-left: 10rem;
    padding-bottom: 10rem;
}

.P2 #foodCategories {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 2rem;
    color: var(--black);
}

.P3 {
    background: var(--yellow);
    border: solid;
}

.foodImg {
    width: var(--widthImg);
    height: var(--heightImg);

}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.categories .box-container {
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem
}

.categories .box-container .box {
    padding: 3rem 0;
    background: #fff;
    box-shadow: var(box-shadow);
    outline-style: solid;
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover {
    box-shadow: 1px 1px 10px 4px var(-green);
}


.aboutUs {
    text-align: center;
    font-size: 15px;
}

.aboutUs2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: 15px;
    padding-bottom: 4rem;
}

.aboutUs2 ul li {
    list-style: none;
}

.aboutUs2 img {
    width: 188px;
    height: 133px;
}

.P2 .categories .box-container .box .btn {
    outline-style: solid;
    outline-offset: 0.25rem;
    cursor: pointer;
}

.P2 .categories .box-container .box .btn:hover {
    background: var(--black);

}


/* Đăng nhập */

.P1SignIn {
    height: 85vh;
    background: var(--orange);
    align-items: center;
    text-align: center;
    padding: 10% 30% 10% 37.5%;
}

.P2SignIn {
    height: 15vh;
    background: var(--yellow);
    border: solid;
}

.logoDiv {
    font-size: 25px;
    width: 400px;
    height: 400px;
    background: bisque;
    align-items: center;
    border: solid;
    padding: 30px 35px 35px 35px;
}

.assistance {
    padding-top: 5rem;
    font-size: 13px;
}

.username,
.password {

    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #718093, inset -8px -8px -8px #fff;
    height: 3rem;
}

/* Đăng ký */

.P1SignUp {
    height: 85vh;
    background: var(--orange);
    align-items: center;
    text-align: center;
    padding: 10% 30% 10% 37.5%;
}

.P2SignUp {
    height: 15vh;
    background: var(--yellow);
    border: solid;
}

.orderBody {
    padding: 4rem 20% 15px 20%;
    background: white;
}


.informationOrder h2 {
    font-size: 40px;
}

.orderBody input[type=text] {
    width: 100%;
    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
}

.informationOrder .name {
    display: flex;
    justify-content: space-between;
}

.informationOrder .firstname {
    display: flex;
    width: 43%;
}

.informationOrder .lastname {
    display: flex;
    width: 55%;
}

img {
    width: 250px;
    height: 250px;
}

.totalOrder h2 {
    font-size: 40px;
}

.icons {
    scale: 200%;
}

.listOrder {
    width: 100%;
    height: 250px;
    padding: 1rem 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    overflow-y: auto;
}

#productOrder {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    background: white;

}

#productOrder img {
    width: 100px;
    height: 100px;
}

#productOrder div {
    padding: 1rem;
    font-size: 15px;
}

#productOrder input[type=number] {
    width: 100%;
    margin-bottom: 12px;
    padding: 9px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    font-size: 1.5rem;
}

#productOrder button {
    background-color: var(--red);
    font-size: 14px;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 15px;
}

#productOrder button:hover {
    background-color: var(--grey);
}

.total {
    padding: 1rem 0 1rem 0;
}

.total h2 {
    font-size: 40px;
}

.total .detailBill {
    font-size: 14px;
    padding-bottom: 1rem;
}

.footer hr {
    border: none;
    background-color: #555;
    height: 1px;
    margin: 20px 0;
}

/*--------*/
.copyright {
    text-align: center;
    font-size: 14px;
    font-weight: 16px;
}

#btn {

    background: rgb(228, 68, 68);
    color: rgb(255, 255, 255);
    font-size: 24px;
    float: right;
    padding: 10px 20px;
    border-radius: 7px;
}

td:last-child {
    text-align: right;
}

th {

    text-align: center;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;

}

td {
    padding: 10px 5px;
}

.total-price {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 500px;
    font-size: 20px;
}

.cart-page {
    margin: 80px auto;
    padding-left: 20rem;
    padding-right: 20rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

/*--------*/

.storeBody {
    padding: 4rem 20% 15px 20%;
    background: white;
}

.foodDescription {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding-right: 5rem;
}

.searchBox input[type=text] {
    width: 82%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;

}

.searchBox button {
    resize: both;
    background-color: white;
    padding-right: 1rem;
}

.searchBox {
    display: flex;
    justify-content: space-between;
}

.foodDescription img {
    scale: 50%;
}

#storeList {
    height: 400px;
}

#sellingFood {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: start;
    background: white;
    font-size: 14px;
    height: 150px;
    padding-right: 5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    margin-bottom: 1rem;
}

#sellingFood img {
    scale: 50%;
}

#sellingFood p {
    margin-right: 6rem;
}

#sellingFood p1 {
    margin-left: 7rem;
}   

#sellingFood button {
    font-size: 25px;
    margin: 0.5rem;
    background: white;
}


#sellingFood div {
    margin-left: 4rem;
    font-size: 16px;
}
button#deleteItem {
    margin-left: 6.5rem;
    font-size: 16px;
    background: rgb(228, 68, 68);
    color: rgb(255, 255, 255);
    float: right;
    padding: 10px 20px;
    border-radius: 7px;
}



.storeBody #sellingFood button {
    background-color: var(--red);
    font-size: 14px;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 15px;
    margin-left: auto;
}

.storeBody #sellingFood button:hover {
    background-color: #FFA07A;
}


.storeBody .searchBox input:focus {
    background-color: #f2f2f2;
    border-color: #4CAF50;
    outline: none; /* remove the default outline */
}

#searchButton{
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    color: #c23616;
  }

#searchButton:hover {
    background-color: var(--grey);
    color: black    ;
}

#sortButton{
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    color: #c23616;
  }

#sortButton:hover {
    background-color: var(--grey);
    color: black    ;
}
