@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

/* như là khai báo toàn cục */
:root{
    --green:#27ae60;
    --black:#2c2c54;
    --orange:#e17055;
    --grey:#718093;
    --yellow:#ffeaa7;
    --widthImg:100px;
    --heightImg:100px;
}

/* reset */
*{
    font-family: 'Nunito',sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--green);
    color:#fff;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top:6.5rem;
    scroll-behavior: smooth;
}

.header-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0, 0, .1);
    position: relative;
    font-size: 1.25rem;
}



.header-1 .logo img{
    width: 100px;
    height: 100px;
}

.header-1 .logo{
    display: inline-block;
}

.header-1 .Tool{
    display: inline-block;
    position: relative;
    bottom: 5rem;
}


/* .header-2 
{
    padding: 1rem;
    text-align: center;
    justify-content: space-between;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.header-2 #logo{
    top: -0.1875rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
} */

/* .header-2 .search-box-container
{
    
    display: flex;
    position: relative;
    padding-right:  30%;
    padding-left: 10%;
}

.header-2 .search-box-container #search-box{
    height: 100%;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    color: #333;
    text-transform: none;
    width: 700px;
}

.header-2 .search-box-container label{
    height: 100%;
    width: 8rem;
    font-size: 2.5rem;
    line-height: 5rem;
    color: #fff;
    background: var(--orange);
    text-align: center;
    cursor: pointer;
}

.header-2 .search-box-container label:hover{
    background: var(--black);
} */

.P1{
    background:var(--yellow);
    border: solid;
}

.P2{
    background:whitesmoke;
    padding-right: 10rem;
    padding-left: 10rem;
}

.P3
{
    background:var(--yellow);
    border: solid;
}

.foodImg{
    width: var(--widthImg);
    height: var(--heightImg);
    
}

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.categories .box-container{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem
}

.categories .box-container .box{
    padding: 3rem 0;
    background: #fff;
    box-shadow: var(box-shadow);
    outline-style: solid;
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover
{
    box-shadow: 1px 1px 10px 4px var(-green);
}

img{
    width: 250px;
    height: 250px;
}

.aboutUs{
    text-align: center;
}

.P2 .categories .box-container .box .btn{
    outline-style: solid;
    outline-offset: 0.25rem;
    cursor: pointer;
}

.P2 .categories .box-container .box .btn:hover{
    background: var(--black);
    
}


/* Đăng nhập */

.P1SignIn{
    height: 85vh;
    background: var(--orange);
    align-items: center;
    text-align: center;
    padding: 10% 30% 10% 37.5%;
}

.P2SignIn{
    height: 15vh;
    background:var(--yellow);
    border: solid;
}

.logoDiv{
    font-size: 25px;
    width: 400px;
    height: 400px;
    background: bisque;
    align-items: center;
    border: solid;
    padding: 30px 35px 35px 35px;
}

.assistance{
    padding-top: 5rem;
    font-size: 13px;
}

.username, .password{
    
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #718093,inset -8px -8px -8px #fff;
    height: 3rem;
}

/* Đăng ký */

.P1SignUp{
    height: 85vh;
    background: var(--orange);
    align-items: center;
    text-align: center;
    padding: 10% 30% 10% 37.5%;
}

.P2SignUp{
    height: 15vh;
    background:var(--yellow);
    border: solid;
}
